/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(105deg, rgb(190, 190, 190), rgb(114, 109, 40), #000);
  background-size: cover;
}

#root {
  max-height: 100%;
}
